@page
@model TesteModel
@{
    ViewData["Title"] = "Teste";
}
<h1>@ViewData["Title"]</h1>

<p>Se está página estiver sendo executada de primeira, é porque basta criar um arquivo que a rota é definida automaticamente através do nome do arquivo</p>
